* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

a,
a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

img {
  max-width: 100%;
  display: block;
}
